@page
@using _0_Framework.Application
@using Newtonsoft.Json
@model ServiceHost.Areas.Administration.Pages.IndexModel
@{
    ViewData["Title"] = "صفحه اصلی";
}
<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <h4 class="pull-left page-title">به بخش آدمین سایت خوش آمدید !</h4>
        <ol class="breadcrumb pull-right">
            <li><a asp-page="/Account">صفحه اصلی</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </div>
</div>

<!-- Start Wvalueget -->
<div class="row">
    <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="mini-stat clearfix bx-shadow">
            <span class="mini-stat-icon bg-info"><i class="ion-social-usd"></i></span>
            <div class="mini-stat-info text-right text-muted">
                <span class="counter">@Model.TotalPayAmount.ToMoney()</span>
                مجموع فروش
            </div>
            <div class="tiles-progress">
                <div class="m-t-20">
                    <h5 class="text-uppercase">فروش <span class="pull-right">@Model.OrderQueryModel.Count%</span></h5>
                    <div class="progress progress-sm m-0">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="@Model.OrderQueryModel.Count" aria-valuemin="0" aria-valuemax="100" style="width: @Model.OrderQueryModel.Count%;">
                            <span class="sr-only">@Model.OrderQueryModel.Count% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="mini-stat clearfix bx-shadow">
            <span class="mini-stat-icon bg-purple"><i class="ion-ios7-cart"></i></span>
            <div class="mini-stat-info text-right text-muted">
                <span class="counter">@Model.OrderQueryModel.Count</span>
                تعداد سفارشات
            </div>
            <div class="tiles-progress">
                <div class="m-t-20">
                    <h5 class="text-uppercase">سفارشات <span class="pull-right">@Model.OrderQueryModel.Count%</span></h5>
                    <div class="progress progress-sm m-0">
                        <div class="progress-bar progress-bar-purple" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: @Model.OrderQueryModel.Count%;">
                            <span class="sr-only">@Model.OrderQueryModel.Count% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="mini-stat clearfix bx-shadow">
            <span class="mini-stat-icon bg-success"><i class="ion-eye"></i></span>
            <div class="mini-stat-info text-right text-muted">
                <span class="counter">@Model.CommentQueryModels.Count</span>
                تعداد کامنت ها
            </div>
            <div class="tiles-progress">
                <div class="m-t-20">
                    <h5 class="text-uppercase">کامنت ها <span class="pull-right">@Model.CommentQueryModels.Count%</span></h5>
                    <div class="progress progress-sm m-0">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@Model.CommentQueryModels.Count" aria-valuemin="0" aria-valuemax="100" style="width: @Model.CommentQueryModels.Count%;">
                            <span class="sr-only">@Model.CommentQueryModels.Count% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="mini-stat clearfix bx-shadow">
            <span class="mini-stat-icon bg-primary"><i class="ion-android-contacts"></i></span>
            <div class="mini-stat-info text-right text-muted">
                <span class="counter">@Model.AccountQueryModels.Count</span>
                تعداد کاربران
            </div>
            <div class="tiles-progress">
                <div class="m-t-20">
                    <h5 class="text-uppercase">کاربران <span class="pull-right">@Model.AccountQueryModels.Count%</span></h5>
                    <div class="progress progress-sm m-0">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="@Model.AccountQueryModels.Count" aria-valuemin="0" aria-valuemax="100" style="width: @Model.AccountQueryModels.Count%;">
                            <span class="sr-only">@Model.AccountQueryModels.Count% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End row-->
<div class="row">
    <div class="col-lg-6">
        <div class="portlet">
            <div class="portlet-heading">
                <h3 class="portlet-title text-dark text-uppercase">
                    گروه مقالات
                </h3>
                <canvas id="line"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="portlet">
            <div class="portlet-heading">
                <h3 class="portlet-title text-dark text-uppercase">
                    گروه محصولات
                </h3>
                <canvas id="bar"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="portlet">
            <div class="portlet-heading">
                <h3 class="portlet-title text-dark text-uppercase">
                    Website Stats
                </h3>
                <canvas id="doughnut"></canvas>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
<script>
    const lineChartDiv = document.getElementById("line");
    var dataSetter=@Html.Raw(JsonConvert.SerializeObject(Model.LineDataSet));
    const lineChart = new Chart(lineChartDiv,
        {
            type: "line",
            data: {
                labels: ["اخبار شرکت","سرویس خواب"],
                datasets: dataSetter
            },
            options: {
                elements: {
                    bar: {
                        borderWidth: 1
                    }
                }
            }
        });
    const barChartDiv = document.getElementById("bar");
    const dataSets=@Html.Raw(JsonConvert.SerializeObject(Model.BarLineDataSet));
    const barChart = new Chart(barChartDiv,
        {
            type: "bar",
            data: {
                labels: ["دکوری","نگهدارنده","اتاق خواب"],
                datasets:dataSets
            },
            options: {
                elements: {
                    bar: {
                        borderWidth: 1
                    }
                }
            }
        });
    const doughnutChartDiv = document.getElementById("doughnut");
    const doughnutData=@Html.Raw(JsonConvert.SerializeObject(Model.DoughnutDataSet));
    const doughnutChart = new Chart(doughnutChartDiv,
        {
            type: "doughnut",
            data: {
                labels: ["مهر", "آبان", "آذر","دی","بهمن","اسفند"],
                datasets: [doughnutData]

            },
            options: {
                elements: {
                    bar: {
                        borderWidth: 1
                    }
                }
            }
        });

</script>
}
